<h2>Edit Blog Post (<&= blog.title %>)</h2>
<form class="" action="users/<%= user.id %>/edit" method="post">
  <input type="text" name="title" value=<%= blog.title %> placeholder="Enter Title" />
  <input type="text" name="blogdate" value=<%= blog.blogdate %> placeholder="Enter Date" />
  <textarea name="entry" rows="10" cols="75" value=<%= blog.entry %> placeholder="Blog Entry" />
  <input type="submit" value="Submit" />
</form>
